{% extends "layouts/base.html" %}
{% block content %}


<div class="page">
  <div class="block_container">
    <div class="home_nav">
      <div class="home_title"><a href="/"><span class="pinch">Ari Katz</span></a></div>
      <ul class="home_links">
        <a href="/projects">
          <li>Notes</li>
        </a>
        <a href="/resume">
          <li>Resume</li>
        </a>
        <a href="/about">
          <li>About <span class="pinch2">Me</span></li>
        </a>
      </ul>
    </div>
    <h2 style="text-align: center; margin-top:30px; font-weight: 600;">{{title}}</h2>
    <div class="project_text"> {{ content | safe }}</div>
    <br /><br />
  </div>
</div>
{% endblock %}